.coinbox{
    margin-bottom: 1px;
    background:#eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Arial';
    span{
        color:#000;
        font-size: 12px;
        display: inline-block;
        padding: 0 5px;
    }
}